@model Presente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/Presentes.css" />

<style>
    .owl-item.active.center {
        margin: 0px -20px !important;
        z-index: 1;
        transform: scale(1.1);
    }
</style>

<h1 class="text-blossom text-rosa text-center font-78 mt-5 " style="line-height:1;">@Model.Nome</h1>
<p class="text-azul text-center font-weight-bold">
    @Model.Descricao
</p>

<div class="container-imagens">
    <div class="owl-carousel">
        @if (Model.base64 != null) {
            foreach (string imagem in Model.base64)
            {
            <div class="img-detalhe"><img src="data:image/png;base64, @imagem"/></div>
            }
        }
    </div>
</div>

<div class="my-3 text-center">
    <span class="preco-detalhe">R$ @Model.Preco</span>
    <div class="w-100"></div>
    <button class="btn-dar-presente mt-4 mb-3" data-toggle="modal" data-target="#exampleModal">COMPRAR PRESENTE</button>
    <div class="w-100"></div>
    <button type="button" onclick="history.back()" class="btn btn-secondary mt-2">Voltar</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row px-5">
                <span class="col-12 text-rosa text-blossom h3">Informe seu nome:</span>
                <input class="col-12 form-control mt-1" id="txtNome" />
                <span class="col-12 text-center font-weight-bold h4 mt-3">Detalhes da compra:</span>
                <div class="row">
                    <div class="col-12">
                        <span class="font-weight-bold">Produto: </span><span>@Model.Nome</span>
                    </div>
                    <div class="col-12">
                        <span class="font-weight-bold">Valor: </span><span>R$ @Model.Preco</span>
                    </div>
                </div>
                <div class="col-12 text-center pt-3">
                    <button class="btn btn-azul" onclick="pagar()">Pagar</button>
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                            data-preference-id="@ViewData["preferences"]">
                    </script>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".mercadopago-button").attr("disabled", true);

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            loop: true,
            center: true,
            autoWidth: true,
            responsive: {
                0: {
                    items: 1,
                    margin: 5
                },
                600: {
                    items: 3,
                    margin: 5
                },
                1000: {
                    items: 5,
                    margin: 5
                }
            }
        });
    });

    $("#txtNome").on("keyup",function () {
        if ($("#txtNome").val().length >= 4) {
            $(".mercadopago-button").attr("disabled", false);
        } else {
            $(".mercadopago-button").attr("disabled", true);
        }
    });

    function pagar() {
        if ($("#txtNome").val().length >= 4) {
            $.ajax(
                {
                    url: "/presentes/presentear?nome=" + $("#txtNome").val() + "&id=@Model.Id",
                    type: "GET",
                    success: function (data) {
                        if (data) {
                            Swal.fire(
                                'Cadastrado!',
                                'Presente ' + textNome + ' cadastrado com sucesso',
                                'success'
                            ).then((result) => {
                                if (result.isConfirmed) {
                                    window.location = '@Url.Action("Cadastrar","Presentes")'
                                }
                            });
                        }
                    }
                }
            );
            $(".mercadopago-button").trigger("click");
        } else {
            Swal.fire(
                'Atenção',
                'Porfavor informe seu nome!',
                'warning'
            );
        }
    }

</script>