@model List<CasamentoLiviaPaulo.Models.Presente>

<link rel="stylesheet" href="~/css/Presentes.css" />

<h1 class="text-blossom text-rosa text-center font-78 mt-5 " style="line-height:1;">Presentes</h1>
<p class="text-azul text-center font-weight-bold px-4">
    Querido convidado, seja bem-vindo a nossa lista de presentes! Sinta-se a vontade para presentear com o que seu coração desejar.
</p>
<p class="text-azul text-center font-weight-bold px-4">
    Atenção: Informamos que o dinheiro da sua compra será destinado a conta dos noivos para a compra do presente.
</p>

<div class="container-categorias">
    <a href="/presentes?pagina=0&categoria=eletrodomesticos" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-eletrodomesticos.png" class="mx-auto"/>
        <span>Eletrodomesticos</span>
    </a>
    <a href="/presentes?pagina=0&categoria=panelas" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-panelas.png" class="mx-auto"/>
        <span>Panelas</span>
    </a>
    <a href="/presentes?pagina=0&categoria=utensilios" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-utensilios.png" class="mx-auto"/>
        <span>Utensilios</span>
    </a>
    <a href="/presentes?pagina=0&categoria=lazer" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-lazer.png" class="mx-auto"/>
        <span>Lazer</span>
    </a>
</div>
    @if(ViewData["categoria"] != null){
        @if (ViewData["categoria"].ToString() != "")
        {
            string a = ViewData["categoria"].ToString();
            <div class="col-12 text-center">
                <a href="/presentes?pagina=0" class="btn btn-rosa">Todos os presentes</a>
            </div>
        }
    }

<hr class="hr-azul" />

<div class="container-presentes row container mx-auto px-0 px-md-4">
    @foreach (Presente presente in Model)
    {
        
        string esgotado = presente.Quantidade > 0 ? "" : "esgotado";
        
        <div class="col-6 col-md-4 col-lg-3 px-0 px-md-4 @esgotado">
            <div class="presente">
                <div class="imagens">
                    <span class="quantidade">@presente.Quantidade</span>
                    <span class="preco">R$ @presente.Preco</span>
                    <div class="owl-carousel">
                        @if (presente.base64 != null) {
                            foreach (String img in presente.base64)
                            {
                            <div style="display:flex;justify-content: center;" class="width-img-owl">
                                <img src="data:image/png;base64, @img" style="height: 100px;width: 100px;" />
                            </div>
                            }
                        }
                    </div>
                </div>
                <span class="descricao">@presente.Nome</span>
                @if (presente.Quantidade > 0)
                {
                    <a href="/Presentes/detalhe/@presente.Id" class="btn-rounded btn-azul text-white text-decoration-none" style="z-index: 9999">Presentear</a>
                }
                else
                {
                    <a href="javascript:void(0)" class="btn-rounded btn-azul text-white text-decoration-none disabled" style="z-index: 9999">Esgotado!</a>
                }
            </div>
        </div>
    }

</div>
<div class="paginacao">
    @if (Model.Count() > 0)
    {
        @if (Int32.Parse(ViewData["PaginaAtual"].ToString()) > 0)
        {
            <a href="/presentes?pagina=@(Int32.Parse(ViewData["PaginaAtual"].ToString())-1)&categoria=@(ViewData["categoria"])">&lt;</a>
        }
        else
        {
            <a href="#">&lt;</a>
        }

        @for (int i = 0; i <= Model[0].Registros; i++)
        {
            @if (Int32.Parse(ViewData["PaginaAtual"].ToString()) + 1 == i + 1)
            {
                <a href="/presentes?pagina=@(i)&categoria=@(ViewData["categoria"])" class="paginacao-active">@(i + 1)</a>
            }
            else
            {
                <a href="/presentes?pagina=@(i)&categoria=@(ViewData["categoria"])">@(i + 1)</a>
            }
        }

        @if (Int32.Parse(ViewData["PaginaAtual"].ToString()) < Model.Count / 20)
        {
            <a href="/presentes?pagina=@(Int32.Parse(ViewData["PaginaAtual"].ToString())+1)&categoria=@(ViewData["categoria"])">></a>
        }
        else
        {
            <a href="#">></a>
        }
        
    }
</div>

<div class="container-lua-de-mel pt-1 pb-4">
    <h1 class="text-blossom text-azul text-center font-78 mt-5 " style="line-height:1;">Lua de mel</h1>
    <p class="text-azul text-center font-weight-bold px-4">
        Querido convidado, gostaria de ajudar com a nossa vaquinha para a lua de mel? Insira ao lado valor que o seu coração desejar!
    </p>
    <form action="/Presentes/luaDeMel">
        <div class="d-flex justify-content-center align-items-center">
            <b>Valor:</b> <label class="ml-1 mr-2 mb-0"><input class="form-control" type="number" name="valor" style="width:100px" min="1" required/></label>
            <button type="submit" class="btn btn-azul text-white">Presentear</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: true,
            center: true,
            autoWidth: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    })
</script>