@model List<CasamentoLiviaPaulo.Models.Presente>

<link rel="stylesheet" href="~/css/Presentes.css" />

<h1 class="text-blossom text-rosa text-center font-78 mt-5 " style="line-height:1;">Presentes</h1>
<p class="text-azul text-center font-weight-bold">
    Querido convidado seja bem-vindo a nossa lista de presentes. Pensamos em tudo com muito carinho para que você se sinta à vontade para nos presentear com o que sentir vontade.
</p>
<p class="text-azul text-center font-weight-bold">
    Informamos que as compras realizadas em nosso site será depositada em nossa conta para a compra do presente, portanto, porfavor, nos presentei comprando por aqui.
</p>

<div class="container-categorias">
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-eletrodomesticos.png" />
        <span>Eletrodomesticos</span>
    </a>
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-panelas.png" />
        <span>Panelas</span>
    </a>
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-utensilios.png" />
        <span>Utensilios</span>
    </a>
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-lazer.png" />
        <span>Lazer</span>
    </a>
</div>

<hr class="hr-azul" />

<div class="container-presentes row container mx-auto px-0 px-md-4">
    @foreach (Presente presente in Model)
    {
        
        string esgotado = presente.Quantidade > 0 ? "" : "esgotado";
        
        <div class="col-6 col-md-4 col-lg-3 px-0 px-md-4 @esgotado">
            <div class="presente">
                <div class="imagens">
                    <span class="quantidade">@presente.Quantidade</span>
                    <span class="preco">R$ @presente.Preco</span>
                    <div class="owl-carousel">
                        @if (presente.base64 != null) {
                            foreach (String img in presente.base64)
                            {
                            <div style="display:flex;justify-content: center;" class="width-img-owl">
                                <img src="data:image/png;base64, @img" style="height: 100px;width: 100px;" />
                            </div>
                            }
                        }
                    </div>
                </div>
                <span class="descricao">@presente.Nome</span>
                @if (presente.Quantidade > 0)
                {
                    <a href="/Presentes/detalhe/@presente.Id" class="btn-rounded btn-azul text-white text-decoration-none" style="z-index: 9999">Presentear</a>
                }
                else
                {

                }
            </div>
        </div>
    }

</div>
<div class="paginacao">
    @if (Int32.Parse(ViewData["PaginaAtual"].ToString()) > 0)
    {
        <a href="/presentes?pagina=@(Int32.Parse(ViewData["PaginaAtual"].ToString())-1)">&lt;</a>
    }
    else
    {
        <a href="#">&lt;</a>
    }

    @for (int i = 0; i <= Model[0].Registros; i++)
    {
        @if (Int32.Parse(ViewData["PaginaAtual"].ToString())+1 == i+1)
        {
            <a href="/presentes?pagina=@(i)" class="paginacao-active">@(i + 1)</a>
        }
        else
        {
            <a href="/presentes?pagina=@(i)">@(i + 1)</a>
        }
    }

    @if (Int32.Parse(ViewData["PaginaAtual"].ToString()) < Model.Count / 20)
    {
        <a href="/presentes?pagina=@(Int32.Parse(ViewData["PaginaAtual"].ToString())+1)">></a>
    }
    else
    {
        <a href="#">></a>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: true,
            center: true,
            autoWidth: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    })
</script>